<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Mercado Liebre</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='main.js'></script>

    <!-- Iconos -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <!-- Tomar los íconos de: https://fontawesome.com/v5/search?o=r&m=free -->

    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <!-- Nuestros Estilos -->
    <link rel='stylesheet' type='text/css' media='screen' href='css/styles.css'>
</head>

<body>
    <header>
        <img src="img/logo-mercado-liebre.svg">
        <div class="search-bar">
            Barra de búsqueda
        </div>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <div class="navigation-bar">
            <div class="navigation-first-group">
                <a href="/ofertas">Ofertas</a>
                <a href="/tiendas-oficiales">Tiendas Oficiales</a>
                <a href="/vender">Vender</a>
                <a href="/ayuda">Ayuda</a>
            </div>
            <div class="navigation-second-group">
                <a href="/register">Creá tu cuenta</a>
                <a href="/login">Ingresá</a>
                <a href="/mis-compras">Mis compras</a>
            </div>
        </div>
    </header>

    <main>
        <section class="products-group">
            <h4>Basado en tu última visita</h2>
                <article class="product-container">
                    <img src="img/img-cafetera-moulinex.jpg">
                    <p>$6.770</p>
                    <p>40% OFF</p>
                    <p><strong>Cafetera Moulinex</strong></p>
                </article>
                <article class="product-container">
                    <img src="img/img-macbook-pro-2019.jpg">
                    <p>$230.000</p>
                    <p>20% OFF</p>
                    <p><strong>MacBook Pro 2019</strong></p>
                </article>
                <article class="product-container">
                    <img src="img/img-samsung-galaxy-s10.jpg">
                    <p>$70.500</p>
                    <p>10% OFF</p>
                    <p><strong>Samsung Galaxy S10</strong></p>
                    <article class="product-container">
                        <img src="img/img-tv-samsung-smart.jpg">
                        <p>$23.200</p>
                        <p>5% OFF</p>
                        <p><strong>SmartTv Samsung 43"</strong></p>
                    </article>
                </article>
        </section>

        <section class="products-group">
            <h4>Sección de Ofertas</h2>
                <article class="product-container">
                    <img src="img/img-cafetera-moulinex.jpg">
                    <p>$6.770</p>
                    <p>40% OFF</p>
                    <p><strong>Cafetera Moulinex</strong></p>
                </article>
                <article class="product-container">
                    <img src="img/img-macbook-pro-2019.jpg">
                    <p>$230.000</p>
                    <p>20% OFF</p>
                    <p><strong>MacBook Pro 2019</strong></p>
                </article>
                <article class="product-container">
                    <img src="img/img-samsung-galaxy-s10.jpg">
                    <p>$70.500</p>
                    <p>10% OFF</p>
                    <p><strong>Samsung Galaxy S10</strong></p>
                    <article class="product-container">
                        <img src="img/img-tv-samsung-smart.jpg">
                        <p>$23.200</p>
                        <p>5% OFF</p>
                        <p><strong>SmartTv Samsung 43"</strong></p>
                    </article>
                </article>
        </section>
    </main>

    <footer>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
            seguro!</p>

        <h4>Envío gratis desde $2.500</h4>
        <p>Sólo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
            Mercado Puntos.</p>

        <h4>Seguridad, de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>

        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>